form {
    width: 100%;
    background: #444A5F;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    gap: 15px;
}

#option {
    height: 50px;
    width: 100%;
    border: none;
}

#add-btn {
    height: 50px;
    background: #8B52CE;
    border: none;
    font-size: 16px;
    font-weight: 700;
}